@import "monokai.css";

.spacer {
  height: 80px;
}

.post-preview {
  font-size: 2.3437em;
  padding: 0;
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 10px;
}

.article-footer {
  padding: 0px;
}

.center-content {
  max-width: 85%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .spacer {
    height: 50px;
  }

  .center-content {
    max-width: 96%;
  }
}

.tags {
  font-size: 1.7577em;
}

.portfolio-title, .portfolio-desc {
  color: white;
  padding-top: 5%;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-desc {
  padding: 0px 5%;
}

@media (max-width: 768px) {
  .portfolio-wrapper {
    min-height: 250px;
  }
}

@media (max-width: 360px) {
  .portfolio-wrapper {
    min-height: 330px;
  }
}

.portfolio-btn {
  margin: 2% 0;
}

.highlight {
  font-weight: bold;
}

.highlight .c1 {
  color: white;
  font-weight: normal;
}
