@import "monokai.css";

.spacer {
  height: 80px;
}

@media (max-width: 768px) {
  .spacer {
    height: 50px;
  }
}

.post-preview {
  padding: 0;
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 10px;
}

.article-footer {
  padding: 0px;
}
